
<% @places.each_with_index do |place, index| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

    <% if place.photos.present? %>
    <div class="container">
      <h3>Photos</h3>
      <div class="row">

          <% place.photos.each do |photo| %>
            <div class="col-2">
              <div style="height:60px;margin-bottom:4em;">
              <%= image_tag photo.picture.url, style: "max-height:100%" %>
              </div>
              <div>
                <%= photo.caption %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <% end %>

    <% if place.comments.present? %>
    <div class="col-12">
      <h3>Comments</h3>
      <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
        <strong><%= place.comments.last.humanized_rating %></strong>
        <% end %>
        <%= place.comments.last.message %>
        <small><%= place.comments.last.user.email %></small>
      </blockquote>
    </div>
    <% end %>
  </div>

<% end %>
<div class="col-10 offset-1"><%= paginate @places %></div>
